sftp-config.json
.RData
.Rhistory

data/
data_qc/
plots/
.env/
old_plots/
preprocessing/plots_*/
preprocessing/rds_*/
preprocessing/.Rhistory
preprocessing/*.html
preprocessing/.ipynb_checkpoints/
preprocessing/cache/
ann_data/

scanpy_preprocess/.ipynb_checkpoints/
scanpy_preprocess/notebooks/
scanpy_preprocess/notebooks_old/

cellassign_img/
DEGs/
